In [1]:
#multi index and index hierarchy

In [11]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [12]:
#index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [8]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [9]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [13]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [14]:
df

             A         B
G1 1  0.329039  0.303527
   2 -0.095974  0.277285
   3  1.514833  0.040099
G2 1 -0.206803 -0.987630
   2  2.844126 -0.402112
   3  1.473237  1.131536

In [21]:
df.loc['G1']

          A         B
1  0.329039  0.303527
2 -0.095974  0.277285
3  1.514833  0.040099

In [24]:
df.loc['G1'].loc[1]

A    0.329039
B    0.303527
Name: 1, dtype: float64

In [25]:
df.index.names

FrozenList([None, None])

In [26]:
df.index.names = ['Groups','Num']

In [27]:
df

                   A         B
Groups Num
G1     1    0.329039  0.303527
       2   -0.095974  0.277285
       3    1.514833  0.040099
G2     1   -0.206803 -0.987630
       2    2.844126 -0.402112
       3    1.473237  1.131536

In [30]:
df.xs('G1',level='Groups')

            A         B
Num
1    0.329039  0.303527
2   -0.095974  0.277285
3    1.514833  0.040099

In [32]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.329039  0.303527
G2     -0.206803 -0.987630