In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [6]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [7]:
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [8]:
type(df['w'])

pandas.core.series.Series

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.w

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [11]:
df['x']

a    0.628133
b   -0.319318
c    0.740122
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [12]:
df[['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [13]:
#when i ask for a single column I get a series

In [14]:
#when I ask for multiple columns I get a DataFrame

In [16]:
df['new'] = df['w'] + df['y']

In [17]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [19]:
df.drop('new',axis = 1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [20]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [21]:
#hence I do not affect this origninal dataFrame.

In [22]:
df.drop('new',axis =1, inplace = True)

In [23]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [24]:
#we can also drop the rows

In [26]:
df.drop('e',axis = 0)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [27]:
df.shape

(5, 4)

In [28]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [29]:
#rows are referred to as 0 axis

In [30]:
#columns are referred to as 1 axis.

In [31]:
df[['z','x']]

          z         x
a  0.503826  0.628133
b  0.605965 -0.319318
c -0.589001  0.740122
d  0.955057 -0.758872
e  0.683509  1.978757

In [32]:
#ROWS

In [33]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [34]:
df.loc['a']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [35]:
#this return a series

In [36]:
#conclusion Rows nd columns both as seen as series

In [37]:
df.iloc[2]   #index location

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [38]:
df.loc['b','y']

-0.8480769834036315

In [39]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [40]:
df.loc[['a','b'],['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077

In [41]:
#note that we enter in the list form!!

Done HURRAH!!!