In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [6]:
nfl_frame = pd.read_clipboard()

In [7]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

woahhhhhhhhhhhhhhh

In [8]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [9]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [10]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
Name: Team, dtype: object

In [11]:
nfl_frame.Division

0     NFC East
1    NFC North
2     AFC East
3    NFC North
4    AFC North
Name: Division, dtype: object

In [12]:
#if the column heading is multiple words
nfl_frame['First NFL Season']

0    1960
1    1921
2    1960
3    1920
4    1996
Name: First NFL Season, dtype: int64

In [23]:
#if we want multiple columns
#if we enter another column with different heading than those already present
DataFrame(nfl_frame, columns = ['Team','First NFL Season',"Tied","CHIEFGUEST"])

                   Team  First NFL Season  Tied  CHIEFGUEST
0        Dallas Cowboys              1960     6         NaN
1     Green Bay Packers              1921    38         NaN
2  New England Patriots              1960     9         NaN
3         Chicago Bears              1920    42         NaN
4      Baltimore Ravens              1996     1         NaN

In [24]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [25]:
nfl_frame.head(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East

In [26]:
nfl_frame.tail(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [27]:
nfl_frame.head()       #default value is 5

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [28]:
nfl_frame.iloc[3]

Rank                            4
Team                Chicago Bears
GP                          1,402
Won                           769
Lost                          591
Tied                           42
Pct.                        0.563
First NFL Season             1920
Division                NFC North
Name: 3, dtype: object

In [30]:
nfl_frame['CHIEFGUEST'] = "Visvash Attri"

In [31]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,CHIEFGUEST
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,Visvash Attri
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,Visvash Attri
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,Visvash Attri
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,Visvash Attri
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,Visvash Attri

In [32]:
nfl_frame['CHIEFGUEST'] = np.arange(5)

In [33]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,CHIEFGUEST
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,0
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,2
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,3
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,4

In [35]:
arr = np.arange(5)
arr

array([0, 1, 2, 3, 4])

In [39]:
CHIEFGUEST = Series(["Visvash","Rahul"], index=[4,0])
CHIEFGUEST

4    Visvash
0      Rahul
dtype: object

In [40]:
nfl_frame['CHIEFGUEST'] = CHIEFGUEST

In [41]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,CHIEFGUEST
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,Rahul
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,NaN
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,Visvash

In [42]:
#to delete an entire column
del nfl_frame['Pct.']

In [43]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,First NFL Season,Division,CHIEFGUEST
0,1,Dallas Cowboys,914,520,388,6,1960,NFC East,Rahul
1,2,Green Bay Packers,"1,368",756,574,38,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,9,1960,AFC East,NaN
3,4,Chicago Bears,"1,402",769,591,42,1920,NFC North,NaN
4,5,Baltimore Ravens,384,214,169,1,1996,AFC North,Visvash

In [47]:
data = {'City':['SF','LA','NY'],'Population':[122100,426400,653700]}

In [48]:
city_frame = DataFrame(data)

In [49]:
city_frame

  City  Population
0   SF      122100
1   LA      426400
2   NY      653700

Hurrah!!! Lecture 15 completed!!!