In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj = Series([3,6,9,12])
obj            #each value will be indexed

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
wwx_cas = Series([8700000,4300000,300000,21000000,10000000],index = ['USSR','USA','India','Pakistan','China'])
wwx_cas

USSR         8700000
USA          4300000
India         300000
Pakistan    21000000
China       10000000
dtype: int64

In [10]:
wwx_cas['USA']

4300000

In [11]:
#check which counttry has casualties greater than 5000000.
wwx_cas[wwx_cas>5000000]

USSR         8700000
Pakistan    21000000
China       10000000
dtype: int64

In [12]:
#to check if index or value in a series
'USSR' in wwx_cas

True

In [14]:
#we can also convert a series into a dictionary
wwx_dict = wwx_cas.to_dict()
wwx_dict

{'USSR': 8700000,
 'USA': 4300000,
 'India': 300000,
 'Pakistan': 21000000,
 'China': 10000000}

In [16]:
wwx_series = Series(wwx_dict)
wwx_series

USSR         8700000
USA          4300000
India         300000
Pakistan    21000000
China       10000000
dtype: int64

In [17]:
countries = ['China','Germany','USA','USSR','India','Pakistan']

In [20]:
obj2 = Series(wwx_dict, index = countries)
obj2                               #match the correspnding values.NaN for not any

China       10000000.0
Germany            NaN
USA          4300000.0
USSR         8700000.0
India         300000.0
Pakistan    21000000.0
dtype: float64

In [21]:
#to check in True/False form
pd.isnull(obj2)

China       False
Germany      True
USA         False
USSR        False
India       False
Pakistan    False
dtype: bool

In [22]:
pd.notnull(obj2)

China        True
Germany     False
USA          True
USSR         True
India        True
Pakistan     True
dtype: bool

In [24]:
wwx_series

USSR         8700000
USA          4300000
India         300000
Pakistan    21000000
China       10000000
dtype: int64

In [25]:
#we can add series to another series and then align the data by index
obj2

China       10000000.0
Germany            NaN
USA          4300000.0
USSR         8700000.0
India         300000.0
Pakistan    21000000.0
dtype: float64

In [27]:
wwx_series + obj2  #look carefully

China       20000000.0
Germany            NaN
India         600000.0
Pakistan    42000000.0
USA          8600000.0
USSR        17400000.0
dtype: float64

In [28]:
obj2.name = "world war x casualties"
obj2

China       10000000.0
Germany            NaN
USA          4300000.0
USSR         8700000.0
India         300000.0
Pakistan    21000000.0
Name: world war x casualties, dtype: float64

In [29]:
obj2.index.name = 'Countries'

In [30]:
obj2

Countries
China       10000000.0
Germany            NaN
USA          4300000.0
USSR         8700000.0
India         300000.0
Pakistan    21000000.0
Name: world war x casualties, dtype: float64