In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

In [3]:
#map()

In [4]:
seq = [1,2,3,5,6]

In [5]:
map(times2,seq)            #this will map the function to the sequence

In [6]:
list(map(times2,seq))       #will return the function mapped as a list to each value

[2, 4, 6, 10, 12]

In [7]:
#here comes a cooler way to write the function below

In [8]:
t = lambda var : var*2

In [9]:
t(6)

12

In [10]:
#for mapping there is an another method too
hello = [1,2,4,6,5,3,7,5,4,34,76]
list(map(lambda num: num*3,hello))

[3, 6, 12, 18, 15, 9, 21, 15, 12, 102, 228]

In [11]:
#built in filter funciton

In [12]:
list(filter(lambda num: num%2==0 , hello))

[2, 4, 6, 4, 34, 76]

In [13]:
#objects
s = "hello my name is visvash"

In [14]:
s.lower()

'hello my name is visvash'

In [15]:
s.upper()

'HELLO MY NAME IS VISVASH'

In [16]:
s.split()

['hello', 'my', 'name', 'is', 'visvash']

In [17]:
tweet = 'go sports! #sports'
tweet

'go sports! #sports'

In [18]:
tweet.split()

['go', 'sports!', '#sports']

In [19]:
tweet.split('#')

['go sports! ', 'sports']

In [20]:
tweet.split('#')[1]

'sports'

In [21]:
d = {'k1':1, 'k2':2}

In [22]:
d

{'k1': 1, 'k2': 2}

In [23]:
d.values()

dict_values([1, 2])

In [24]:
lst = [1,2,3,4,5]
lst.pop()
#this will return the last item of that list

5

In [25]:
lst

[1, 2, 3, 4]

In [26]:
lst = [1,2,3,4,5]
item = lst.pop()

In [27]:
lst

[1, 2, 3, 4]

In [31]:
lst1 = [1,2,3,4,5]
first = lst1.pop(0)

In [33]:
lst1

[2, 3, 4, 5]

In [34]:
first

1

In [35]:
lst1.append('new')

In [36]:
lst1

[2, 3, 4, 5, 'new']

In [37]:
'sadness' in lst1

False

In [38]:
#tuple unpacking

In [39]:
x = [(1,2),(3,4),(5,6)]

In [41]:
x[0][0]

1

In [42]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [44]:
#tuple unpacking
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6